<!doctype html>
<html>
   <body>

      <!-- <h1>WordCloud For Positive Tweets</h1> -->

      <h1>{{ name }}</h1>

      <p></p>

        <a href="/getBasicStats"><button>Get Basic Stats</button></a><br><br>
        <a href="/getQuantileandInterQuantilrRange"><button>Get Quantile and InterQuantile Range</button></a><br><br>
        <a href="/detectOutlier"><button>Detect Outlier</button></a><br><br>
        <a href="/columnsFurtherTreatment"><button>Column feature Scalling </button></a><br><br>
        <a href="/exploratoryVisualization"><button>EDA Visualization</button></a><br><br>
        <!-- <a href="/predictsentiment"><button>Predict Tweet</button></a> -->
        <!-- <form method="POST" action="/predictsentiment">
            <input type="text" name="sentiment" class="form-control"  placeholder="Enter Sentiment" style="max-width: 300px;" autofocus required>
            <button type="submit" class="btn btn-default">Predict Tweet</button>
        </form> -->

      <!-- <img src={{url}} alt="Chart" height="740" width="740"> -->

   </body>
</html>