<!doctype html>
<html>
   <body>

      <!-- <h1>WordCloud For Positive Tweets</h1> -->

      <h1>Exploratory Visualization</h1>
      <a href="/misingValueHeatMap"><button>Missing Value Visualization</button></a><br><br>
      <a href="/correlationHeatMap"><button>Correlation Matrix Visualization</button></a><br><br>
      <a href="/DataDistributionPlotBoxplot"><button>Data DIstribution Box Plot</button></a><br><br>
      <a href="/DataDistributionsumPlotBar"><button>Data DIstribution Sum Bar chart</button></a><br><br>
      <a href="/DataDistributioncountPlotBar"><button>Data DIstribution Count Bar chart</button></a><br><br>
      <form action='/multicolinearityVisualization' method="GET"> 
      <button>MultiColinearity Visualization </button><br><br>
      </form>
      <!-- <a href="/outlierVisualization"><button>Outliers Visualization </button></a><br><br> -->
      <a href="/TimeSeriesVisualization"><button>Time Series Visualization </button></a><br><br>

      <a href="/redirect"><button>Back</button></a><br>
      <!-- <p>
      <center>
      <img src='/correlationHeatMap/' alt ="Correlation Heatmap Visualization" height="400" width="1200">
      </center>
      </p> -->


      <!-- <img src={{url}} alt="Chart" height="740" width="740"> -->

   </body>
</html>